h2
  = t('.edit_resource_name', resource_name: (resource_name.to_s.humanize))
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    br
    = f.email_field :email, autofocus: true, autocomplete: "email"
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      = t('.currently_waiting_confirmation_for', resource: (resource.unconfirmed_email))
  .field
    = f.label :password
    i
      = t('.leave_blank_if')
    br
    = f.password_field :password, autocomplete: "off"
    - if @minimum_password_length
      br
      em
        = t('.minimum_password_length', minimum_password_length: (@minimum_password_length))
  .field
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    i
      = t('.we_need_your')
    br
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Update"
h3
  = t('.cancel_my_account')
p
  = t('.unhappy')
  = button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete
= link_to t('.back'), :back
