.box
  .box__nav
    ul.tab
      li.tab__item
        = active_link_to t('.hot'), comments_path, active: :exclusive
      li.tab__item
        = active_link_to t('.recent'), recent_comments_path

  .box__body
    = render 'comments/list', comments: @comments,
                              show_reply_link: false,
                              show_story: true

= paginate @comments, theme: :mini_box
