.box {
  // background: var(--color-white);
  background: var(--color-box-bg);
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--border-radius-sm);
  margin-bottom: var(--space-sm);
}

.box__body {
  padding: var(--space-sm);
}

.box__nav {
  font-size: calc(var(--text-base-size) * 0.9);

  .tab {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }

  .tab__item a {
    margin: 0;
    padding: var(--space-sm) var(--space-sm) calc(var(--space-sm) - 2px);
    color: var(--color-contrast-medium-l);
  }

  .tab__item a.active {
    font-weight: 600;
  }
}

.box__list-item {
  padding: var(--space-sm);
}

.box__list-item:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.box__footer {
  border-top: 1px solid var(--color-border);
  padding: var(--space-sm);
}
