.counter {
  display: flex;
}

.counter__item {
  flex: 1;

  &-major {
    display: block;
    font-size: var(--text-lg);
    font-weight: 700;
  }

  &-minor {
    font-size: var(--text-xs);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-contrast-medium);
  }
}
