footer {
  padding-top: var(--space-md);
  margin-bottom: var(--space-lg);
  color: var(--color-contrast-medium-l);
  font-size: var(--text-sm);

  a span {
    transition: all .2s;
    display: inline-block;
  }

  a:hover {
    text-decoration: none;

    span {
      transform: rotate(450deg);
    }
  }
}
