.media {
  display: flex;
}

.media__body {
  margin-left: var(--space-xs);
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-right: var(--space-xs);
  }
}

.media__title {
  margin-bottom: var(--space-xxs);
}

.media__action {
  flex: 0 0 auto;
}

.media--centered {
  align-items: center;
}
